.header-container {
    display: flex;
    background: pink;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset;
    margin-bottom: 20px;
}
.left-headerside {
    flex: 1;
}
.left-headerside h1
{
    margin: 10px;;
    font-size: large;
    color: rgb(146, 46, 109);
}
.left-headerside p
{
    margin: 10px;
    font-size: small;
    color: brown;
}

.Profile-pic
{
    width: 120px;
    height: 120px;
    object-fit:contain;
    border-radius: 20%;
    box-shadow: inset;
    margin-bottom: 10px;
}
.header-container
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: pink;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.right-headerside
{
    font-size: 14px;
    color: brown;
    font-size: small;

}
.right-headerside h3
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}

.section-container
{
    display: flex;
    background: rgb(255, 192, 228);
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset;
    margin-bottom: 20px;

}
.left-aboutside
{
    flex:2;
}
.left-aboutside h2
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}
.left-aboutside p
{
    margin: 10px;
    font-size: small;
    color: rgb(228, 32, 124);
}
.right-aboutside
{
    flex: 1;
}
.right-aboutside ul
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}
.right-aboutside h3
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}
.section-container2 
{
    display: flex;
    background: rgb(255, 192, 228);
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset;
    margin-bottom: 20px;
}
.leftsection-container2
{
    flex: 2;
}
.leftsection-container2 h2
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}
.leftsection-container2 p
{
    margin: 10px;
    font-size: small;
    color: rgb(228, 32, 124);
}
.section-container3
{
    display: flex;
    background: rgb(255, 192, 228);
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset;
    margin-bottom: 20px;
}
.leftsection-container3
{
    flex: 2;
}
.leftsection-container3 h2
{
    margin-bottom: 10px;
    color: rgb(228, 32, 124);
}
.leftsection-container3 p
{
    margin: 10px;
    font-size: small;
    color: rgb(228, 32, 124);
}
